body,div,img,ul,li,a,h1,h2,h3,p,span,input,button{
	padding: 0;
	border: 0;
	margin:0;
	font-size: 13px;
	font-family: 'Segoe UI', Segoe, Tahoma, Arial, Verdana, sans-serif;
	outline:none
}
html,body{
	max-height: 1080px;
	max-width: 1920px;
	height: 100%;
	width: 100%;
	margin: 0 auto;

}
body{
	background: #333;
	z-index: 100;
}
#body{

	height:100%;
	width: 100%;
	background: url(images/back_1.jpg) no-repeat;
	margin:auto auto;
	min-height: 600px;
	min-width: 800px;
	position: relative;
}
a{
	list-style: none;
	text-decoration: none;
}
header{
	background: #333;
	height: 43px;
	width: 100%;
	color: #acacac;
	margin:auto;
}
#body .headLeft{
	float: left;
}
#body .headLeft ul{
	height: 39px;
	width:auto;
	padding-left: 33px;
}
#body .headLeft ul .li_f{
	padding: 0 13px;
	text-align: left;
}
#body .headLeft ul li{
	line-height: 43px;
	display: inline-block;
	padding: 0 16px;
}
#body .headLeft ul li a {
	color: #acacac;
}
#body .headLeft ul li a:hover{
color:#fff;
}
#body .headRigth{
	height: 43px;
	float: right;
}
#body .headRigth a{
	color: #acacac;
	line-height: 43px;
}
#body .headRigth a .zm{
	height:20px;
	width: 20px;
	vertical-align: text-top;
	display: inline-block;
	background:url(images/back.png) no-repeat -5px -5px;
	margin-right: 4px;
}
#body .headRigth .goEn{
	float: left;
}
#body .headRigth .shu{
	float: left;
	line-height: 43px;
	padding-left:19px;
	padding-right: 10px;  
}
#body .headRigth .load{
	padding:0 12px;
	width: 89px;
	display: inline-block;
}
#body .headRigth .load_text{
	float: left;
	margin-right: 2px;
}
#body .headRigth .load_img{
height: 50px;
float: left;
width: 50px;
margin:-3px 5px 0 6px;
display:block;
border-radius: 25px;
background:#555 url(images/hpc18.png) no-repeat -2px -140px;
}
#body .headRigth .load_text:hover{
	color:#fff;
}
#body .headRigth .goEn:hover a{
	color:#fff;
}
#body .headRigth .goEn:hover span{
	background-position: -35px -5px; 
}
#body .headRigth .setUp{
	display: inline-block;
	height: 22px;
	width: 22px;
	margin:0 47px 14px 4px;  
	background: url(images/hpc18.png) no-repeat -190px -148px;
}
#body .headRigth .setUp:hover{
	background-position: -168px -148px; 
}
#body .search{
	position: absolute;
	top: 20%;
	left: 8%;
	width:auto;
	height: 53px;
	margin-top: -4px;
	z-index: 10000;
}
#body .search .search_xl{
	position: absolute;
	list-style: none;
	font-size: 28px;
	line-height: 30px;
	background: #fff;
	top: 49px;
	left: 125px;
	color:#000;
	width:501px;
	overflow: hidden;
	display: none;
}
#body .search .search_xl li{
	padding-left: 10px;
}
#body .search .search_xl li:hover{
	text-decoration: underline;
	cursor:pointer;
}
#body .search img{
	width: 107px;
	float: left;
	height: 53px;
	display: inline-block;
}
#body .search form{
	float: left;
	margin:4px 0 0 18px;
}
#body .search input{
	border: 1px solid #e5e5e5;
	height: 43px;
	width: 500px;
	border-right:0;
	font-size: 18px;
	text-indent: 9px;
	float: left;
	font: "Segoe UI",Arial,Helvetica,sans-serif;
}
#body .search button{
	height: 45px;
	width: 45px;
	background: #0c8484 url(images/hpc18.png)no-repeat -161px -55px;
	float: left;
	cursor: pointer;
}
#body .share{
	height: 60px;
	position: absolute;
	bottom: 35px;
	right: 0px;
	font-size: 0;
	margin-right: 10px; 
}

#body .share  span{
	position: absolute;
	display: inline-block;
	font-weight: bold;
	width: 60px;
	top:-25px;
	left: 0;
	text-align: center;
	color:#fff;
	font-size: 13px;
}
#body .share a{
	display: inline-block;
	height: 40px;
	width: 60px;
	border-radius: 20px;
	position: relative;
	cursor:pointer;
}
#body .share a div{
	height: 40px;
	width: 40px;
	margin:0 10px;
	position: absolute;
	bottom: 0px;
}
#body .share .qq{

	position: absolute;
	display: none;
	margin-left:-160px;
}
#body .share .qq div{
	background:url(images/index.png) no-repeat 0 -294px ;

}
#body .share .wb{
	display: none;
	position: absolute;
	margin-left:-100px;

}
#body .share .wb div{
	background: url(images/index.png) no-repeat 0 -252px ;
}
#body .share .wx{
	
	display: none;
	position: absolute;
	margin-left:-40px;
}
#body .share .wx div{
	background: url(images/index.png) no-repeat 0 -210px ;
}
#body .share .share_1 div{
	background: url(images/index.png) no-repeat 0 -210px;
	position: relative;
	height: 40px;
	width: 40px;
}
#body .share .xz div{
	background: url(images/xz.png) no-repeat;
}
#body .share .xz div:hover{
	background: url(images/xz.png) no-repeat -40px 0;
}
#body .share .off div{
	background: url(images/index.png) no-repeat 0 -334px;
} 
#body .share .off{
	display: none;
}
#body .share .left div{
	background: url(images/index.png) no-repeat 0 -84px;
}
#body .share .right div{
	background: url(images/index.png) no-repeat 0 -126px;
}
#body .share .i div{
	background: url(images/index.png) no-repeat 0 -42px;
}







footer{
	height: 35px;
	position: absolute;
	bottom: 0px;
	background: #333;
	width: 100%;
	
}
footer ul{
	margin-right: 20px;
	line-height: 32px;
	font-size: 13px;
	color: #666;
	float: right;
}
footer ul li{
	margin:0 10px;
	display: inline-block;
	}
footer ul li:hover{
	color:#999;
}
footer ul a{
	color: #666;
}
footer ul a:hover{
	color:#999;
	text-decoration: underline;
}

footer ul li .fk{
	color:#999;
}

.search_div{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:9999;
	opacity:0;
	background:#000;
}